-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: flytau_db
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `airplane`
--

DROP TABLE IF EXISTS `airplane`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `airplane` (
  `A_ID` int NOT NULL,
  `Manufacturer` varchar(45) DEFAULT NULL,
  `Date_of_Purchase` date DEFAULT NULL,
  `Size` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`A_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `airplane`
--

LOCK TABLES `airplane` WRITE;
/*!40000 ALTER TABLE `airplane` DISABLE KEYS */;
INSERT INTO `airplane` VALUES (1,'Airbus','2018-03-15','Large'),(2,'Boeing','2019-07-01','Medium'),(3,'Dassault','2020-01-20','Small'),(4,'Airbus','2017-11-05','Large'),(5,'Boeing','2016-05-30','Medium'),(6,'Dassault','2021-09-10','Small');
/*!40000 ALTER TABLE `airplane` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `airport`
--

DROP TABLE IF EXISTS `airport`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `airport` (
  `Airport_Name` varchar(45) NOT NULL,
  `Country` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`Airport_Name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `airport`
--

LOCK TABLES `airport` WRITE;
/*!40000 ALTER TABLE `airport` DISABLE KEYS */;
INSERT INTO `airport` VALUES ('Ataturk','Turkey'),('Ben Gurion','Israel'),('Charles de Gaulle','France'),('Heathrow','United Kingdom'),('JFK','USA'),('Schiphol','Netherlands');
/*!40000 ALTER TABLE `airport` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `booking`
--

DROP TABLE IF EXISTS `booking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `booking` (
  `B_ID` int NOT NULL,
  `Status` varchar(45) DEFAULT NULL,
  `Price` int DEFAULT NULL,
  `Cancellation_Fee` int DEFAULT NULL,
  `booking_date` date DEFAULT NULL,
  `booking_time` time DEFAULT NULL,
  `Client_Email` varchar(45) NOT NULL,
  PRIMARY KEY (`B_ID`),
  KEY `fk_client` (`Client_Email`) /*!80000 INVISIBLE */,
  CONSTRAINT `fk_Client` FOREIGN KEY (`Client_Email`) REFERENCES `client` (`Email_ID`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking`
--

LOCK TABLES `booking` WRITE;
/*!40000 ALTER TABLE `booking` DISABLE KEYS */;
/*!40000 ALTER TABLE `booking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `class`
--

DROP TABLE IF EXISTS `class`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `class` (
  `Type` varchar(45) NOT NULL,
  `Num_Rows` int NOT NULL,
  `Num_Columns` int NOT NULL,
  `A_ID` int NOT NULL,
  PRIMARY KEY (`A_ID`,`Type`),
  KEY `fk_Class_Airplane1_idx` (`A_ID`),
  CONSTRAINT `fk_Class` FOREIGN KEY (`A_ID`) REFERENCES `airplane` (`A_ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `class`
--

LOCK TABLES `class` WRITE;
/*!40000 ALTER TABLE `class` DISABLE KEYS */;
INSERT INTO `class` VALUES ('Business',5,4,1),('Economy',20,6,1),('Business',4,4,2),('Economy',18,6,2),('Economy',15,4,3),('Economy',20,6,4),('Economy',18,6,5),('Economy',12,4,6);
/*!40000 ALTER TABLE `class` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client`
--

DROP TABLE IF EXISTS `client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client` (
  `Email_ID` varchar(45) NOT NULL,
  PRIMARY KEY (`Email_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client`
--

LOCK TABLES `client` WRITE;
/*!40000 ALTER TABLE `client` DISABLE KEYS */;
INSERT INTO `client` VALUES ('guest1@example.com'),('guest2@example.com'),('manager1@flytau.com'),('manager2@flytau.com'),('reg1@flytau.com'),('reg2@flytau.com'),('shiralevy2017@gmail.com');
/*!40000 ALTER TABLE `client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee`
--

DROP TABLE IF EXISTS `employee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee` (
  `E_ID` int NOT NULL,
  `PhoneNumber` varchar(20) DEFAULT NULL,
  `StartDateofEmployment` date DEFAULT NULL,
  `FirstName` varchar(45) DEFAULT NULL,
  `LastName` varchar(45) DEFAULT NULL,
  `City` varchar(45) DEFAULT NULL,
  `Street` varchar(45) CHARACTER SET armscii8 COLLATE armscii8_general_ci DEFAULT NULL,
  `HoushNumber` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`E_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee`
--

LOCK TABLES `employee` WRITE;
/*!40000 ALTER TABLE `employee` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flight`
--

DROP TABLE IF EXISTS `flight`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flight` (
  `F_ID` int NOT NULL,
  `Status` varchar(45) DEFAULT NULL,
  `Type` varchar(45) DEFAULT NULL,
  `Date_of_flight` date DEFAULT NULL,
  `Time_of_flight` time NOT NULL,
  `Date_of_Arrival` date DEFAULT NULL,
  `Time_of_Arrival` time NOT NULL,
  `A_ID` int NOT NULL,
  `R_ID` int NOT NULL,
  PRIMARY KEY (`F_ID`),
  KEY `FK_Flight_Airplane_idx` (`A_ID`),
  KEY `FK_Flight_Route _idx` (`R_ID`),
  CONSTRAINT `FK_Flight_Airplane` FOREIGN KEY (`A_ID`) REFERENCES `airplane` (`A_ID`),
  CONSTRAINT `FK_Flight_Route ` FOREIGN KEY (`R_ID`) REFERENCES `route` (`R_ID`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flight`
--

LOCK TABLES `flight` WRITE;
/*!40000 ALTER TABLE `flight` DISABLE KEYS */;
/*!40000 ALTER TABLE `flight` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flight_attendant`
--

DROP TABLE IF EXISTS `flight_attendant`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flight_attendant` (
  `E_ID` int NOT NULL,
  `Training_for_long_flights` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`E_ID`),
  CONSTRAINT `FK_FlightAttendant_Employee` FOREIGN KEY (`E_ID`) REFERENCES `employee` (`E_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flight_attendant`
--

LOCK TABLES `flight_attendant` WRITE;
/*!40000 ALTER TABLE `flight_attendant` DISABLE KEYS */;
INSERT INTO `flight_attendant` VALUES (13,'Yes'),(14,'Yes'),(15,'Yes'),(16,'No'),(17,'Yes'),(18,'No'),(19,'Yes'),(20,'No'),(21,'Yes'),(22,'Yes'),(23,'No'),(24,'Yes'),(25,'Yes'),(26,'No'),(27,'Yes'),(28,'Yes'),(29,'No'),(30,'Yes'),(31,'No'),(32,'Yes');
/*!40000 ALTER TABLE `flight_attendant` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flight_crew`
--

DROP TABLE IF EXISTS `flight_crew`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flight_crew` (
  `E_ID` int NOT NULL,
  `F_ID` int NOT NULL,
  `Duty` varchar(45) NOT NULL,
  PRIMARY KEY (`E_ID`,`F_ID`),
  KEY `FK_FlightCrew_Flight_idx` (`F_ID`),
  CONSTRAINT `fk_FC_Employee` FOREIGN KEY (`E_ID`) REFERENCES `employee` (`E_ID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_FC_Flight` FOREIGN KEY (`F_ID`) REFERENCES `flight` (`F_ID`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flight_crew`
--

LOCK TABLES `flight_crew` WRITE;
/*!40000 ALTER TABLE `flight_crew` DISABLE KEYS */;
/*!40000 ALTER TABLE `flight_crew` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flight_ticket`
--

DROP TABLE IF EXISTS `flight_ticket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flight_ticket` (
  `Ticket_ID` int NOT NULL AUTO_INCREMENT,
  `Status` varchar(45) DEFAULT NULL,
  `Seat_Column` varchar(45) NOT NULL,
  `Seat_Row` int NOT NULL,
  `Seat_A_ID` int NOT NULL,
  `Seat_Class_Type` varchar(45) NOT NULL,
  `F_ID` int NOT NULL,
  `B_ID` int NOT NULL,
  PRIMARY KEY (`Ticket_ID`),
  UNIQUE KEY `ticket_seat` (`F_ID`,`Seat_A_ID`,`Seat_Row`,`Seat_Column`,`Seat_Class_Type`),
  KEY `fk_ticket` (`Seat_Column`,`Seat_Row`,`Seat_A_ID`,`Seat_Class_Type`),
  KEY `fk_flight` (`F_ID`),
  KEY `fk_booking` (`B_ID`) /*!80000 INVISIBLE */,
  CONSTRAINT `fk_booking` FOREIGN KEY (`B_ID`) REFERENCES `booking` (`B_ID`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_Flight` FOREIGN KEY (`F_ID`) REFERENCES `flight` (`F_ID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_Seat` FOREIGN KEY (`Seat_Column`, `Seat_Row`, `Seat_A_ID`, `Seat_Class_Type`) REFERENCES `seat` (`Column_Num`, `Row_Num`, `A_ID`, `Class_Type`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flight_ticket`
--

LOCK TABLES `flight_ticket` WRITE;
/*!40000 ALTER TABLE `flight_ticket` DISABLE KEYS */;
INSERT INTO `flight_ticket` VALUES (1,'Confirmed','A',1,1,'Business',1,1),(2,'Confirmed','B',1,1,'Business',1,2),(3,'Confirmed','A',1,2,'Economy',2,3),(4,'Confirmed','B',1,2,'Economy',2,4),(5,'Confirmed','C',1,1,'Economy',3,5),(6,'Confirmed','D',1,1,'Economy',3,6),(7,'Confirmed','A',2,2,'Economy',4,7),(8,'Confirmed','B',2,2,'Economy',4,8),(9,'Confirmed','A',2,1,'Business',1,15),(10,'Confirmed','B',1,1,'Economy',1,16),(11,'Confirmed','A',1,1,'Economy',1,17),(12,'Confirmed','B',2,1,'Economy',1,18),(13,'Confirmed','B',2,1,'Business',1,21),(14,'Confirmed','C',1,1,'Economy',1,22);
/*!40000 ALTER TABLE `flight_ticket` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guest`
--

DROP TABLE IF EXISTS `guest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `guest` (
  `Email_G_ID` varchar(45) NOT NULL,
  PRIMARY KEY (`Email_G_ID`),
  UNIQUE KEY `Email_G_ID_UNIQUE` (`Email_G_ID`),
  CONSTRAINT `fk_Guest_Client` FOREIGN KEY (`Email_G_ID`) REFERENCES `client` (`Email_ID`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guest`
--

LOCK TABLES `guest` WRITE;
/*!40000 ALTER TABLE `guest` DISABLE KEYS */;
INSERT INTO `guest` VALUES ('guest1@example.com'),('guest2@example.com');
/*!40000 ALTER TABLE `guest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manger`
--

DROP TABLE IF EXISTS `manger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manger` (
  `E_ID` int NOT NULL,
  `Password` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`E_ID`),
  CONSTRAINT `FK_Manger` FOREIGN KEY (`E_ID`) REFERENCES `employee` (`E_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manger`
--

LOCK TABLES `manger` WRITE;
/*!40000 ALTER TABLE `manger` DISABLE KEYS */;
INSERT INTO `manger` VALUES (1,'admin123'),(2,'boss456');
/*!40000 ALTER TABLE `manger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pilot`
--

DROP TABLE IF EXISTS `pilot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pilot` (
  `E_ID` int NOT NULL,
  `Training_for_long_flights` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`E_ID`),
  CONSTRAINT `FK_Pilot_Employee` FOREIGN KEY (`E_ID`) REFERENCES `employee` (`E_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pilot`
--

LOCK TABLES `pilot` WRITE;
/*!40000 ALTER TABLE `pilot` DISABLE KEYS */;
INSERT INTO `pilot` VALUES (3,'Yes'),(4,'Yes'),(5,'Yes'),(6,'Yes'),(7,'Yes'),(8,'No'),(9,'No'),(10,'Yes'),(11,'No'),(12,'Yes');
/*!40000 ALTER TABLE `pilot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registered`
--

DROP TABLE IF EXISTS `registered`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `registered` (
  `Email_R_ID` varchar(45) NOT NULL,
  `Registration_date` datetime DEFAULT NULL,
  `Date_of_birth` datetime DEFAULT NULL,
  `Passport_number` varchar(45) DEFAULT NULL,
  `Phone_number` varchar(45) DEFAULT NULL,
  `First_Name` varchar(45) DEFAULT NULL,
  `Last_Name` varchar(45) DEFAULT NULL,
  `Password` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`Email_R_ID`),
  UNIQUE KEY `Email_R_ID_UNIQUE` (`Email_R_ID`),
  CONSTRAINT `fk_Registered_Client` FOREIGN KEY (`Email_R_ID`) REFERENCES `client` (`Email_ID`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registered`
--

LOCK TABLES `registered` WRITE;
/*!40000 ALTER TABLE `registered` DISABLE KEYS */;
INSERT INTO `registered` VALUES ('reg1@flytau.com','2023-01-01 00:00:00','1990-05-10 00:00:00','123456789','972505551111','Lior','Ben_David','reg1pass'),('reg2@flytau.com','2023-02-15 00:00:00','1988-11-20 00:00:00','987654321','972505552222','Shani','Gold','reg2pass'),('shiralevy2017@gmail.com','2025-12-26 00:00:00','1999-07-14 00:00:00','123456','0584662727','Shira','Levy','12345678');
/*!40000 ALTER TABLE `registered` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `route`
--

DROP TABLE IF EXISTS `route`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `route` (
  `R_ID` int NOT NULL,
  `Airport_Name_Source` varchar(45) NOT NULL,
  `Airport_Name_Dest` varchar(45) NOT NULL,
  `Flight_Duration` int DEFAULT NULL,
  PRIMARY KEY (`R_ID`),
  KEY `FK_Route_Source_idx` (`Airport_Name_Source`),
  KEY `FK_Route_Destniation_idx` (`Airport_Name_Dest`),
  CONSTRAINT `FK_Destniation` FOREIGN KEY (`Airport_Name_Dest`) REFERENCES `airport` (`Airport_Name`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `FK_Source` FOREIGN KEY (`Airport_Name_Source`) REFERENCES `airport` (`Airport_Name`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `route`
--

LOCK TABLES `route` WRITE;
/*!40000 ALTER TABLE `route` DISABLE KEYS */;
INSERT INTO `route` VALUES (1,'Ben Gurion','Heathrow',5),(2,'Ben Gurion','JFK',11),(3,'Heathrow','Ben Gurion',4),(4,'Ben Gurion','Schiphol',7),(5,'Ben Gurion','Charles de Gaulle',8);
/*!40000 ALTER TABLE `route` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seat`
--

DROP TABLE IF EXISTS `seat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seat` (
  `Column_Num` varchar(45) NOT NULL,
  `Row_Num` int NOT NULL,
  `A_ID` int NOT NULL,
  `Class_Type` varchar(45) NOT NULL,
  PRIMARY KEY (`Column_Num`,`Row_Num`,`A_ID`,`Class_Type`),
  KEY `fk_Seat_Class1_idx` (`A_ID`,`Class_Type`),
  CONSTRAINT `fk_Seat_Class1` FOREIGN KEY (`A_ID`, `Class_Type`) REFERENCES `class` (`A_ID`, `Type`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seat`
--

LOCK TABLES `seat` WRITE;
/*!40000 ALTER TABLE `seat` DISABLE KEYS */;
INSERT INTO `seat` VALUES ('A',1,1,'Business'),('A',2,1,'Business'),('B',1,1,'Business'),('B',2,1,'Business'),('A',1,1,'Economy'),('A',2,1,'Economy'),('B',1,1,'Economy'),('B',2,1,'Economy'),('C',1,1,'Economy'),('C',2,1,'Economy'),('D',1,1,'Economy'),('D',2,1,'Economy'),('A',1,2,'Economy'),('A',2,2,'Economy'),('B',1,2,'Economy'),('B',2,2,'Economy'),('C',1,2,'Economy'),('C',2,2,'Economy'),('D',1,2,'Economy'),('D',2,2,'Economy');
/*!40000 ALTER TABLE `seat` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-06 19:02:55
